<% productsData.forEach(product=> { %>

    <li class="col-12">
        <div class="bg-card p-3 rounded-1 d-flex align-items-center flex-column flex-md-row">
     
            <img class="avatar lg img-thumbnail ms-auto me-auto shadow" src="<%= product.image_default[0]?? 'https://www.svgrepo.com/show/508699/landscape-placeholder.svg' %>" alt="">
            <div class="ms-md-2 ms-lg-3 text-md-start text-center w-100 mt-4 mt-md-0">
                <div class="row g-0 align-items-center">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mb-3 mb-md-0">
                        <h6 class="mb-1"> <%= product.title %></h6>
                       
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 text-center">
                        <ul class="list-unstyled d-flex mb-0 text-center text-md-start">
                            <li class="flex-fill p-2 rounded-start">
                                <h6 class="mb-1">S/ <%- product.price.regular %></h6>
                                <span class="small text-muted">Precio</span>
                            </li>
                            <li class="flex-fill p-2 mx-1">
                                <h6 class="mb-1">S/ <%- product.price.sale %></h6>
                                <span class="small text-muted">Oferta</span>
                            </li>
                            <li class="flex-fill p-2 rounded-end">
                                <h6 class="mb-1"><%- product.stock %></h6>
                                <span class="small text-muted">Stock</span>
                            </li>
                            <li  class="flex-fill p-2 rounded-end">
                                <% if (product.is_available) { %>
                                    <h6 class="mb-1">ACTIVE</h6>
                                    <% } else { %>
                                        <h6 class="mb-1">NO ACTIVE</h6>
                                        <% } %>
                                 <span class="small text-muted">Estado</span>

                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 text-center text-md-end mt-3 mt-md-0">
                        <button type="button" class="btn px-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Message"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn px-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </li>


    <% }) %>